.btn-gray {
    color: #000000 !important;
    background-color: #ffffff !important;
    box-shadow: 0px 2px 1px 1px #bcbcbc !important;
}

.btn-red {
    color: #ffffff !important;
    background-color: #ea0530 !important;
    box-shadow: 0px 2px 1px 1px #ea9999 !important;
}
